<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Log In</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/Chitter_Chatter.css">
  </head>

  <form class="form-signin row mt-5" action="/users/login" method="POST">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center" style="top: 100px !important;">
        <img src="../images/logo.jpg" alt="logo" />
        <h2 class="form-signin-heading">Login</h2>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="text" name="email" id="inputEmail" class="form-control" placeholder="Email" autofocus required>
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <p><span><input type="checkbox"></span>Remember Me</p>
          <a href="#">Forgot Password?</a>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          <hr/>

          <p class="or">OR</p>
         <button type="submit" class="btn btn-lg btn-primary btn-block" onClick="location.href='/users/signup'">Sign Up</button>
      </div>
    </div>
  </form>
</html>
