<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <title>Profile Page</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/css/Chitter_Chatter.css">
    </head>
  </head>
<div class="container" style="top: 100px  !important;">
<section>
    <div class="row d-flex flex-row justify-content-center bd-highlight">
      <div class="col  border border-1 rounded ">
        <ul class="nav">
          <li class="nav-item">
            <!--  <a class="nav-link active" aria-current="page" href="#"> </a>-->
            <a href="#explore"><i class="fa fa-fw fa-hashtag"></i> Explore</a>
          </li>
        </ul>
        <ul class="nav">
          <li class="nav-item">
            <a href="#notifications"
              ><i class="fa fa-fw fa-bell"></i> Notifications</a
            >
          </li>
        </ul>
        <ul class="nav">
          <li class="nav-item">
            <a href="#messages"
              ><i class="fa fa-fw fa-envelope"></i> Messages</a
            >
          </li>
        </ul>
        <ul class="nav">
          <li class="nav-item">
            <a href="#more"><i class="fa fa-fw fa-ellipsis-h"></i> More</a>
          </li>
        </ul>
        <a class="btn btn-primary btn-sm " href="#" role="button">Post</a>
      </div>
      <div class="col-6 border border-1 rounded">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="What's happening?"
            aria-label="What's happening?"
            
          />
          <button class="btn btn-primary" type="button" id="post">
            Post
          </button>
        </div>

        <!-- User 1 -->
        <div>
          <!-- GitHub link -->
          <!-- <img
            src="../images/male_profile_green.svg"
            class="float-start"
            alt="male profile"
          /> -->

          <img
            src="https://cdn.glitch.com/eedd7988-6291-440f-9057-f1ade3a9d518%2Fundraw_profile_pic_ic5t.svg?v=1614302991093"
            class="float-start"
            alt="male profile"
          />
          <div>
            <b> User Name </b><span class="ref_username">@Jay </span
            ><span class="time">3:50 PM </span
            ><span>
              <a href="#"><i class="fa fa-fw fa-ellipsis-h"></i></a
            ></span>
          </div>
          <div>
            Chitter-Chatter is an Awesome Website!
          </div>
        </div>
        <br />
        <!-- User 2 -->
        <div>
          <!-- GitHub link -->
          <!-- <img
            src="../images/male_profile_yellow.svg"
            class="float-start"
            alt="male profile"
          /> -->
          <img
            src="https://cdn.glitch.com/eedd7988-6291-440f-9057-f1ade3a9d518%2Fundraw_profile_pic_ic5t-2.svg?v=1614308023352"
            alt="male2 profile"
            class="float-start"
          />
          <div>
            <b> User Name </b><span class="ref_username">@Craig </span
            ><span class="time">10:30 PM </span
            ><span>
              <a href="#"><i class="fa fa-fw fa-ellipsis-h"></i></a
            ></span>
          </div>
          <div>
            Can you can a can as a canner can can a can?
          </div>
        </div>
        <br />
        <!-- User 3 -->
        <div>
          <!-- GitHub link -->
          <!-- <img
            src="../images/male_profile_pink.svg"
            class="float-start"
            alt="male profile"
          /> -->

          <img
            src="https://cdn.glitch.com/eedd7988-6291-440f-9057-f1ade3a9d518%2Fundraw_profile_pic_ic5t-3.svg?v=1614308213205"
            class="float-start"
            alt="male profile"
          />
          <div>
            <b> User Name </b><span class="ref_username">@Tam </span
            ><span class="time">8:30 AM </span
            ><span>
              <a href="#"><i class="fa fa-fw fa-ellipsis-h"></i></a
            ></span>
          </div>
          <div>
            Susie works in a shoeshine shop. Where she shines she sits, and
            where she sits she shines.
          </div>
        </div>
      </div>
      <!-- Column 3-->
      <div class="col border border-1 rounded d-flex flex-column">
        <div class="col-12 border-col4 rounded ">
          <h3>
            What's Happening?
          </h3>
          <div class="card">
            <div class="container">
              <p>Trending in Music</p>
              <h5><b>Bruno Mars</b></h5>
              <p>
                Bruno Mars announced an upcoming album with Anderson titled
                Silk Sonic
              </p>
            </div>
          </div>
          <div class="card">
            <div class="container">
              <p>Trending in United States</p>
              <h5><b>#RIP Twitter</b></h5>
              <p>Twitter has gone crazy</p>
            </div>
          </div>
        </div>
        
        <div class="col-12 border-col4 rounded">
          <h3>
            Who to Follow
          </h3>
          <div>
            <!-- GitHub link -->
            <!-- <img
            src="../images/male_profile_blue.svg"
            class="float-start"
            alt="male profile"
          /> -->

            <img
              src="https://cdn.glitch.com/eedd7988-6291-440f-9057-f1ade3a9d518%2Fundraw_male_avatar_323b.svg?v=1614295268247"
              class="float-start"
              alt="male profile"
            />
            <div>
              <span>
                John Smith
              </span>
              <br />
              <span class="">@JohnSmith</span>
            </div>
            <a class="btn btn-primary btn-sm " href="#" role="button"
              >Follow</a
            >
          </div>
          <div>
            <!-- GitHub link -->
            <!-- <img
            src="../images/female_profile_blue.svg"
            class="float-start"
            alt="male profile"
          /> -->

            <img
              src="https://cdn.glitch.com/eedd7988-6291-440f-9057-f1ade3a9d518%2Fundraw_female_avatar_w3jk.svg?v=1614296398386"
              class="float-start"
              alt="female profile"
            />
            <div>
              <span>
                Meghan Brown
              </span>
              <br />
              <span class="">@Meghan Brown</span>
            </div>
            <a class="btn btn-primary btn-sm " href="#" role="button"
              >Follow</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="text-center">
    @2021 Chitter-Chatter
  </footer>
</div>
</html>