<div class="container">
    <div class="col-sm-6">
      <img src="/images/error.png" alt="Error cat">
    </div>
    <div class="col-sm-6">
      <h1>Oops! Something went wrong! The page you are looking for doesn't exist.</h1>
      <p> Go to <a href="/">home!</a></p>
    </div>
</div>
