<div class="container data-form">
  <form class="form-signin row mt-8" id="form" action="/tweets/create" method="POST">
    <div class="col-md-8 m-auto">
      <div class="card card-body text-center" style="top: 100px !important;">
        <h2 class="form-signin-heading">What's Happening?</h2>
        <label for="hashtag">Hashtag</label>
        <input type="text" id="hashtag" name="hashtag" placeholder="#Hashtag" />
        <textarea rows = "5" name="description" id="inputDescription" class="form-control" autofocus></textarea>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Tweet</button>
      </div>
    </div>
  </form>
</div>